@{
    ViewData["Title"] = "Error404";
}

<head>
    <style>
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
    </style>
</head>
<div class="image">
    <img style="width:60%" src="~/images/PageNotFound.png" />
</div>

<div class="image">
    <h2>Error, página no encontrada</h2>
</div>