@{
    ViewData["Title"] = "Order Success";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/Bienvenido.png" style="width:400px;" />
        <h4>Has sido inscrito al curso satisfactoriamente</h4>
        <a asp-action="Index" class="mt-2 btn btn-outline-success">Vamos a aprender!!</a>
    </div>
</div>
