
@{
    ViewData["Title"] = "TemporalOrderDuplicate";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/Error.png" style="width:200px;" />
        <div class="col-md-12 offset-12">
            <h6>El curso ya tiene una compra pendiente</h6>
        </div>        
        <br />        
    </div>    
    <div class="col-md-4 offset-4">
        <div class="col-md-12">
            <a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de Compras</a>
        </div>
    </div>
</div>

