<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduOnline</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EduOnline.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="top_bar">
            <div class="top_bar_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="nav navbar-nav navbar-right">
                                <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                    
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="top_bar_login ml-auto">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="EditUser">@ViewBag.UserFullName </a>
                                        </div>
                                        <div class="top_bar_login ml-auto">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="top_bar_login ml-auto">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
                                        </div>
                                    }
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="logo_text">Edu<span>Online</span></div>
                                </a>
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">
                                    <li class="active"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
                                    {
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Index">Localización</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categorías</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Cursos</a></li> 
                                    }
                                    
                                </ul>
                                <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

                                <!-- Hamburger -->

                                <div class="shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EduOnline - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
