@model EduOnline.Models.CityViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Ciudad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StateId" />

            <partial name="../Shared/PartialViews/_CityCreateEdit.cshtml" />

            <div class="form-group">
                <input type="submit" value="Nueva Ciudad" class="btn btn-outline-primary" />
                <a asp-action="DetailsState" asp-route-stateId="@Model?.StateId" class="btn btn-outline-success">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
