@model EduOnline.DAL.Entities.State

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar el dpto/estado?</h3>
<div>
    <partial name="../Shared/PartialViews/_StateDetailsDelete.cshtml" />
    <form asp-action="DeleteState">
        <input type="hidden" asp-for="Id" />
        <input type="submit" asp-route-stateId="@Model.Id" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Details" asp-route-countryId="@Model?.Country.Id" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
