@model EduOnline.DAL.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <partial name="../Shared/PartialViews/_CountryDetailsDelete.cshtml" />
</div>
<div>
    <a asp-action="AddState" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Nuevo Estado</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>
